@import "tailwindcss";

@font-face {
  font-family: RedHat;
  font-style: normal;
  font-weight: 400 600 700;
  font-display: swap;
  src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-Gray: hsl(0, 0%, 40%);
  --color-Gray-Light: hsl(0, 0%, 55%);
  --color-Silver: hsl(210, 17%, 82%);
  --color-Diamond: hsl(210, 40%, 98%);
  --color-Diamond-Light: hsl(210, 20%, 95%);
  --color-Dark-Gray: hsl(0, 0%, 28%);
  --color-Luxury-Dark: hsl(0, 0%, 15%);
  --color-Luxury-Black: hsl(0, 0%, 8%);
  --color-Accent-Rose: hsl(349, 89%, 60%);
  --color-Charcoal: hsl(0, 0%, 25%);

  --breakpoint-desktop: 1440px;
}

body{
  font-family: RedHat;
  background-color: var(--color-Diamond-Light);
}